body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
}

.menu {
    text-align: center;
    margin: 20px 0;
}

.menu button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.menu button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.menu-section {
    margin-top: 20px;
}

#flightsList, #searchResult {
    margin-top: 20px;
    padding: 10px;
    background: #e9e9e9;
}
